.header {
    background-color: black;
}

// .background {
//     background-image: url("../image/background.jpg");
//     background-size: cover;
//     background-repeat: no-repeat;
// }

.buttons {
    text-align: center;
  &__first {
    font-family: Montserrat;
    font-size: 13.99px;
    font-weight: 700;
    line-height: 17.05px;
    text-align: center;
    color: $white;
    background-color: inherit;
    border: none;
  }

  &__seccond {
    font-family: Montserrat;
    font-size: 13.99px;
    font-weight: 700;
    line-height: 17.05px;
    text-align: center;
    color: $white;
    background-color: inherit;
    border: 2px solid $white;
    border-radius: 20px;
  }
}

.logo {
    margin-top: 112px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.94px;
    letter-spacing: 1px;
    text-align: center;
    color: $white;
}
